#container {
  height:100vh;
  width: 100vw;
}

#container {
  display: flex;
  flex-direction: column;
}

#content {
  display: flex;
  flex: 1;
}

app-rules-browser {
  width: 50vw;
  overflow: scroll;
}

app-eslint-viewer {
  width: 100%;
  overflow: scroll;
}
